@media only screen and (max-width:600px) {
    .navbar{
        background-color: #c83065;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0,0,0, .42);
        align-items: center;
       
        
    }
    .menu-bar{
        display: block;
        font-size: 3em;
        cursor: pointer;
        color: white;
        z-index: 1;
    }
    .navbar .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left:0;
        background-color: #c83065;
        height: 50vh;
        transform: translateY(-170%);
        transition: all 1.1s;
        width: 100%;
        justify-content: center;
        
    }
    .menu li{
        margin-top: 3em;
        text-align: center;
    }
    .navbar .menu-toggle{
        transform: translateY(0%);
   
    }
    .brand{
        z-index: 1;
    }
    .img-principal img{
        width: 200px;
    }
    .content-info h3{
        font-size: 1.7em;
    }
    .content-info h1{
        font-size: 3.2em;
    }
    .button-content button{
        font-size: 1.2em;
        padding: 10px;
        margin: 10px 3px 0px 0px;
    }
    .main{
        margin: 50px 0px 0px;
    }
}